<h1><%= @recipe.name %></h1>
<p>Type: <%= @recipe.meal.name%></p>
<p>Key Ingredient: <%= @recipe.key_ingrediant %></p>
<p>Method: <%= @recipe.method %></p>
<p>Ingredients: <%= @recipe.ingrediants %></p>




<%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn" %>

